/*Beginning of CSS for topnav bar*/
.pagesize{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    zoom: 141.5%;
}
body {
    margin: 0;
    font-family: Yaldevi Colombo SemiBold;
}
h1{
    font-size: 100px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 30px;
}
.topnav {
    overflow: hidden;
    background-color: #67819A; height: 68px;
}
.topnav a {
    flex: center;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
}
.topnav a:hover {
    text-decoration: underline;
    color: #ffffff;
}
.topnav .logo{
    transform: translate(15px, 10px);
}
.topnav a.active {
    text-decoration: underline;
    color: white;
}
/*End of CSS for topnav bar*/

.foot{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #67819A;
    color: white;
    padding-left: 80px;
    padding-right: 80px;
}
.footexplorelinks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}
.footitem{
    width: 300px;
}
.footlinks{
    text-decoration: none;
    font-size: 15px;
    color: #bababa;
    text-align: center;
}
/*Beginning CSS for Hero Headers*/
.hheadtitle{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hhead{
    width: 100%;
    height: 415px;
    background-size: cover;
    object-position: 100% 0%;
    position: relative;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

#index .hhead {background-image: url(img/homepage/homepagehhimage.jpg);}
#about .hhead {background-image: url(img/about/pexels-photo-624063.jpg);}
#expo .hhead {background-image: url(img/expoditons/expoheadimg.jpg);}
#rules .hhead {background-image: url(img/rules/rulesheadimg.jpg); background-position: 0% 50%;}
#book .hhead {background-image: url(img/booknow/booknow_head.jpg);}

/*End of CSS for Hero Headers*/

.expthepst{
    background-color: #9DC0AC;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    color: #fff;
}

.exphere{
    background-color: #9DC0AC;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    color: #fff;
}





/*Beginning of CSS for Home Page*/

.slidescroll{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.slidescroll .slides{
    width: 656px;
    height: 436px;
    position: relative;
    padding: 15px;
}
.someexpo{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.mptopics{
    text-align: center;
    color: white;
    background-color: #9DC0AC;
    transform:translate(0px, 164px);
    width: 203px;
    height: 38px;
}
.jurassic{
    background-image: url("img/homepage/expthepast/rgdino.jpg");
    width: 203px;
    height: 231px;
    background-size: cover;
    object-position: 100% 0%;
    position: relative;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    display: inline-block;
}
.paleozoic{
    background-image: url("img/homepage/expthepast/rocktrilobite.jpg");
    width: 203px;
    height: 231px;
    background-size: cover;
    object-position: 100% 0%;
    position: relative;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    display: inline-block;
}
.mesozoic{
    background-image: url("img/homepage/expthepast/runningdino.jpg");
    width: 203px;
    height: 231px;
    background-size: cover;
    object-position: 100% 0%;
    position: relative;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    display: inline-block;
}
.cenozoic{
    background-image: url("img/homepage/expthepast/mammothnxt2grl.jpg");
    width: 203px;
    height: 231px;
    background-size: cover;
    object-position: 100% 0%;
    position: relative;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    display: inline-block;
}
.more{
    background-image: url("img/homepage/expthepast/whale.jpg");
    width: 203px;
    height: 231px;
    background-size: cover;
    object-position: 100% 0%;
    position: relative;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    display: inline-block;
}
.exphere{
    transform: translate(0px, 0px);
}
.experience{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left:15%;
    margin-right: 15%;
    transform: translate(0px, 0px);
}
.trophiestitle{
    bottom: 100%;
    color: black;
    text-align: center;
    color: white;
    background-color: #9DC0AC;
    transform:translate(0px, 122px);
    height: 38px;
    width: 253px;
}
.trophies{
    background-image: url("img/homepage/strtexp/skull.jpg");
    width: 253px;
    height: 189px;
    background-size: cover;
    object-position: 100% 0%;
    position: relative;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    display: inline-block;
}
.covidtitle{
    text-align: center;
    color: white;
    background-color: #9DC0AC;
    transform:translate(0px, 125px);
    height: 38px;
    width: 253px;
}
.covid{
    background-image: url("img/homepage/strtexp/covid.jpg");
    width: 253px;
    height: 189px;
    background-size: cover;
    object-position: 100% 0%;
    position: relative;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    display: inline-block;
}
.rules2{
    background-image: url("img/homepage/strtexp/justice-gd7cb56b08_1920.jpg");
    width: 253px;
    height: 189px;
    background-size: cover;
    object-position: 100% 0%;
    position: relative;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    display: inline-block;
}
/*End of CSS for Home Page*/

/*Beginning of CSS for About Page*/
.hist_bout_meettitles{
    background-color: #9DC0AC;
    width: 385px;
    height: 47px;
    color: white;
    text-align: center;
    transform: translate(0px, 15px);
}
.hist_bouttext{
    color: black;
    width: 385px;
    font-size: 25px;
}
.aboutpgallinfo{
    display: flex;
    justify-content: space-around;
}

.guides{
    width: 385px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.guidestext{
    font-size: 25px;
    color: white;
    background-color: #9DC0AC;
    width: 203px;
    text-align: center;
}

.guidesimg {
    width: 111px;
    height: 85px;
    position:relative;
    overflow:hidden;
    border-radius: 15%;
}
.guidesimg img {
    position: absolute;
    display: block;
    z-index: -1;
}
/*End of CSS for About Page*/

.typeofexpodition {
    position:absolute;
}
.typeofexpodition .typeofexpodition-content {
    display: none;
    position: absolute;
    bottom: 3px;
    left: 0%;
    right: 0%;
    background-color: #9DC0AC;
    animation:ease-in-out;
    z-index: 0;
    height: auto;

}
.typeofexpodition:hover .typeofexpodition-content {
    display: block;
    opacity: 50%;
    transform: translate(0px, -1000px);
    height: auto;
}
.nameofexpodition{
    background-color: #9DC0AC;
    transform: translate(0px, -38px);
    opacity: 50%;
}

/*Beginning of CSS for Expoditions Page*/
.eratitles{
    text-align: center;
    color: white;
    background-color: #9DC0AC;
    width: 1350px;
    transform: translate(45px, 0px);
}
.typeofexpodition {
    position:relative;
    width: 203px;
    height: 313px;
    overflow:hidden;
}
.typeofexpodition img {
    position: absolute;
    display: block;
    z-index: -1;
    zoom: 50%;
}
.typeofexpodition .typeofexpodition-content {
    display: none;
    position: absolute;
    bottom: 3px;
    left: 0%;
    right: 0%;
    background-color: #9DC0AC;
    animation:ease-in-out;
    z-index: 0;
    height: auto;
    transition: all .5s ease-in-out;
    font-size: 15px;
}
.typeofexpodition:hover .typeofexpodition-content {
    display: block;
    color: white;
    opacity: 90%;
    height: 400px;
    transform: translate(0px, -71px);
    height: auto;
    visibility: visible;
}
.nameofexpodition {
    background-color: #9DC0AC;
    color: white;
    opacity: 90%;
    z-index: 2;
    height: 44px;
    font-size: 30px;
    text-align: center;
    transform: translate(0px, 240px);
}
.mostpopularexpoditions{
    display: flex;
    justify-content: space-around;
}
.mesozoicexpoditions{
    display: flex;
    justify-content: center;
    gap: 71px;
}
.expoditionsrows{
    margin-left: 213px;
    gap: 71px;
    max-width: 1025px;
    display: flex;
    justify-content: center;
    row-gap: 15px;
}
.trophyrows{
    position:relative;
    overflow:hidden;
    display:flex;
    justify-content: space-around;
}
.typeoftrophy {
    position:relative;
    width: 320px;
    height: 351px;
    overflow:hidden;
}
.typeoftrophy img {
    position: absolute;
    display: block;
    z-index: -1;
}
.typeoftrophy-content{
    width: 320px;
    font-size: 30px;
}

/*End of CSS for Expoditions Page*/

/*Beginning of CSS for Rules Page*/
.riskrulessafety{
    display: flex;
    justify-content: space-around;
}
.risk_rule_safetitles{
    background-color: #9DC0AC;
    width: 385px;

    color: white;
    text-align: center;
}
.risk_rule_safetext{
    color: black;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 385px;
}
.covid19_waivertitle{
    background-color: #9DC0AC;
    text-align: center;
    color: white;
}
.covid19_waievrtext{
    width: 100%;
}
/*End of CSS for Rules Page*/

/*Beginning of CSS for Book Now Page*/
#personinfo{
    display: flex;
    justify-content: center;
}
::placeholder{
    color: white;
}
.booktripform{
    font-size: 30px;
    width: 690px;
    height: 47px;
    background-color: #9DC0AC;
    border-color: #fff;
    
}
.reg{
    display: flex;
    justify-content: space-between;
    max-width: 841px;
    transform: translate(0px, 15px);
    background-color: #9DC0AC;
}
.column{
    display: flex;
    flex-direction: column;
}
.booknowbutton{
    width: 254px;
    font-size: 25px;
    background-color: #9DC0AC;
    border-color: #fff;
    color: #fff;
    text-decoration: none;
    text-decoration-color: none;
    border-width: 2px;
    transform: translate(593px, 20px);
}
/*End of CSS for Book Now Page*/

/*Beginning of CSS for Sign-In Page*/
/*End of CSS for Sign-In Page*/